# Build
build/
cmake-build-*/
out/
_codeql_build_dir/
_codeql_detected_source_root

# IDE
.vs/
.vscode/
*.user
*.suo
*.db
*.opendb
*.ipch

# Binaries
*.exe
*.out
*.o
*.obj
*.a
*.lib
*.dll
*.so

# Runtime data
highscores.txt

# OS
.DS_Store
Thumbs.db
